* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  overflow-x: hidden;
}

/* Header */
header {
  height: 60px;
  background-color: rgb(19, 25, 33);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
}

.amazon-logo {
  width: 100px;
  cursor: pointer;
  margin-right: 15px;
}

.search-wrapper {
  display: flex;
  border-radius: 3px;
  overflow: hidden;
}

.header-serchbar {
  width: 500px;
  height: 38px;
  border: none;
  padding: 1px 2px 1px 15px;
}

.search-icon {
  height: 38px;
  width: 33px;
  padding: 1px 6px 1px 6px;
  background-color: rgb(254, 189, 105);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.search-icon img {
  background-color: transparent;
}

.returnOrders-cart {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.returnOrders {
  margin-left: 15px;
  cursor: pointer;
}

.return {
  font-size: 13px;
}

.order {
  font-size: 15px;
  font-weight: bold;
}
.cart {
  display: flex;
  margin-left: 15px;
  cursor: pointer;
}

.cart img {
  width: 50px;
}

.cart p {
  margin-top: auto;
  font-weight: bold;
  font-size: 15px;
}

/* Products */

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 2000px; /* 🧠 Prevents too many items from overflowing */
  margin: 0 auto;
}

.product-item {
  background-color: #f4f4f4;
  padding: 16px;
  border: 1px solid #ccc;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Product Image */
.product-image {
  width: 140px;
  height: 140px;
  object-fit: contain;
}

/* Product Details */
.product-name {
  margin-top: 12px;
  text-align: center;
  font-size: 16px;
}

.product-rating {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.product-rating img {
  width: 100px;
  height: 20px;
}

.product-review-count {
  margin-left: 10px;
}

.product-price {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

select {
  margin-top: 10px;
  padding: 5px;
  width: 100%;
}

.product-add-to-cart-btn {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  border: none;
  background-color: rgb(255, 216, 20);
  font-weight: bold;
  cursor: pointer;
}
